<div class="row">
    <div class="col-lg-6 mt-4">
      <div class="card-box">
        <h4 class="mb-4 header-title">Position</h4>
  
        <form #addPositionForm="ngForm" (submit)="onSubmit()">
          <h6>Position Title</h6>
          <input type="text" class="form-control" name="positiontitle" [(ngModel)]="model.positiontitle"/>
          <br>
          <h6>Position Description</h6>
          <textarea class="form-control" name="description" [(ngModel)]="model.description"></textarea>
          <br>
          <button class="btn btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>