<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a routerLink="/admin/i/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Positions</li>
        </ol>
      </div>
      <h4 class="page-title">Positions</h4>
    </div>
  </div>
</div>

<div class="action-bar mb-2 clearfix well">
  <a routerLink="/admin/i/position/0" class="btn btn-info float-right">Add Position</a>
</div>

<div class="card-box">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <th width="40">#</th>
      <th>Position Title</th>
      <th width="100">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let pos of positions; let i = index">
        <td>{{i + 1}}</td>
        <td>{{pos.title}} <small>({{pos.JobCount}})</small></td>
        <td><button class="btn btn-danger btn-sm" (click)="alert()">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>